<div class="container-sm">
    <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
        <div class="mb-3">
            <label for="fname" class="form-label">First Name</label>
            <input type="text" class="form-control" id="fname" formControlName="fname" placeholder="First Name">
            <div *ngIf="registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched"
                class="text-danger">
                First Name is required.
            </div>
        </div>
        <div class="mb-3">
            <label for="lname" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lname" formControlName="lname" placeholder="Last Name">
            <div *ngIf="registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched"
                class="text-danger">
                Last Name is required.
            </div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="name@example.com">
            <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-danger">
                Please enter a valid email address.
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password">
            <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
                class="text-danger">
                Password is required.
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Submit</button>
    </form>
</div>